extends ../layout.pug

block content
    register-component(inline-template)
        .row
            .card.col.s4.offset-s4
                form(@submit.prevent="submit")
                    .input-field
                        input#email.validate(type='email', name='email', v-model="email")
                        label(data-error="wrong",for="email") Email
                    .input-field
                        input#email.validate(type='text', name='nickname', v-model="nickname")
                        label(for="nickname") Nickname
                    .input-field
                        input#password.validate(type='password', name='password', v-model="password")
                        label(data-error="wrong",for="password") Password
                    .input-field
                        input#passwordConfirmation.validate(type='password', name='confirmPassword', v-model="confirmPassword")
                        label(data-error="doesn't match",for="confirmPassword") Confirm password
                    button.waves-effect.waves-light.btn.col.s4.offset-s4(type='submit')
                        | Submit
