version: '2'
services:
  web:
    build:
      context: .
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
    command: "nodemon -L bin.js"
  db:
      image: "mysql"
      ports:
        - "3306:3306"
      environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: mcreactor
        MYSQL_USER: monyk
        MYSQL_PASSWORD: root