extends layout.pug

block content
    feed-component(inline-template)
        .row
            template(v-if="this.$store.state.user")
                include feed/new-post.pug
            | {{title}}
            ul
                li.card(v-for="(post,index) in posts")
                    include feed/post.pug

                    
