extends layout.pug

block content
    feed-component(inline-template)
        .row
            .col.s8
                template(v-if="this.$store.state.user")
                    include feed/new-post.pug
                include posts.pug
            include feed/nav.pug

                    
